@font-face {
    src: url('../fonts/AROneSans.ttf') format('truetype');
    font-family: 'AROneSans';
    font-display: swap;
}

* {
    font-family: 'AROneSans';
    line-height: normal !important;
}

html {
    position: relative;
}

body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}
