@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: 'Poppins' !important;
    line-height: normal !important;
}

html {
    position: relative;
}

body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    position: relative;
}

[data-element="background-wrapper"] {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

[data-element="background"] {
    position: absolute;
    top: -20vh;
    left: -20vw;
    width: 140vw;
    height: 140vh;
    background-image: url("https://i.imgur.com/KeTQDre.png");
    background-size: cover;
    background-position: center;
    filter: url("#turbulence");
    overflow: hidden;
}

